.hero {
    background-color: #2E2F42;
}

.h1-hero {
    text-align: center;
    color: #FFFFFF;
}

.button-hero {
    background-color: #4D5AE5;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    font-family: inherit;
    cursor: pointer;
}

.button-hero:focus,
.button-hero:hover {
    background-color: #404BBF;
}